body {
    width: 780px;
    margin: 0 auto;
    font-family: "Segoe UI";
    
}

h1, h2, h3, h4, h5 {
    padding: 10px;
    border-bottom: 1px solid #eaecef;
}

.code_bg {
    background-color:  #f8f8f8;
    padding: 15px;
    word-break: normal;
}

.code_wrapper {
    padding: 0 15px;
}
